/* GENERAL STYLE */
body {
 background-color:  #F5F5F5; 
    font-family: 'Roboto', sans-serif;
} 
/* add efects  */
.link:hover,
.link:focus {
    color: #2196F3;
}
/* remove the underline */
.link-decorate {
    text-decoration: none;
}
/* remove list marker */
.marker-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Background Header, Footer */
.hero-background,
.footer-background {
    background-color: #2F303A;
}
/* backgrounds section */
.benefits-background,
.our-work-background {
    background: #F5F5F5;
}
/* HEADER */
.header-background{
    background-color:#FFFFFF ;
 }
.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #2196F3;
    }
.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #000000;
}
.link-color {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color:#757575;
}
.link-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

/* MAIN > HERO */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* Hero button wiev */
.btn-wiev {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    color: #FFFFFF;
}
.btn {
    background:  #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
} 
/* Hero button text */

/* Benefits title style */
.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;   
}
/*features -discription  */
.peculiarities-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #757575;
}
.our-work {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.our-team-background {
    background: #F5F4FA;
}
/* our team style text */
.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; 
}
/* Background photo team */
.background-photo {
    background: #FFFFFF;
}
/* names of team members styles */
.members-team {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: #212121;
}
.job-title {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16); 
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: #757575;
}

/* FOOTER */


/* Second peace logo with footer */
.logo-studio-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.addres-link {
    font-style: normal;
}
.link-addres-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.link-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* PORTFOLIO */
.main-section-background {
     background: #F5F5F5; 
}
.filter-button {
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
       background: #2196F3;
       color: #FFFFFF;
}
/* content button */
.btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    color: #212121;  
}
.project-items {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    color: #212121;
}
.software-items { 
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: #757575;    
}